.custom-textfield input {
    color: white !important;
}

.custom-textfield input::placeholder {
    color: white !important;
    opacity: 1 !important;
}

.custom-textfield .MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.71) !important;
}

.custom-textfield:hover .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

.custom-textfield.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white !important;
}

/* Sobrescribe el color del label para que sea blanco */
.custom-textfield .MuiInputLabel-root {
    color: white !important;
}

/* Asegura que cuando el TextField esté enfocado el label siga siendo blanco */
.custom-textfield .MuiInputLabel-root.Mui-focused {
    color: rgb(25, 118, 210) !important;
}
